<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>
    {% if is_staff %}
        <p>You are logged in as a Teacher</p>
        <a href="http://localhost:8000/api/users">Users</a>
        <a href="http://localhost:8000/api/courses">Courses</a>
        <a href="http://localhost:8000/api/modules">Modules</a>
        <a href="http://localhost:8000/api/assignment">Assignments</a>
        <a href="http://localhost:8000/api/category">Category</a>
    {% endif %}
    {% if is_superuser %}
        <p>You are logged in as a Moderator</p>
        <!-- Moderator-specific content -->
        <a href="http://localhost:8000/api/users">Users</a>
        <a href="http://localhost:8000/api/courses">Courses</a>
        <a href="http://localhost:8000/api/modules">Modules</a>
        <a href="http://localhost:8000/api/assignment">Assignments</a>
        <a href="http://localhost:8000/api/category">Category</a>
    {% else %}
        <p>You are logged in as a Student</p>
        <!-- Student-specific content -->
        <a href="http://localhost:8000/api/users">Users</a>
        <a href="http://localhost:8000/api/courses">Courses</a>
        <a href="http://localhost:8000/api/modules">Modules</a>
        <a href="http://localhost:8000/api/assignment">Assignments</a>
        <a href="http://localhost:8000/api/category">Category</a>
    {% endif %}
</body>
</html>
